{# Sets Unique ID for Modal from Block ID. #}
{% set block_id_modal = 'vlb-block-modal-' ~ content.id.value %}
{% set block_id = 'vlb-block-' ~ content.id.value %}

{# Prints div with classes, and button to trigger the modal. #}
<div{{ attributes.addClass(classes).setAttribute('id', block_id) }} >
        {# Button trigger modal #}
      <button type="button" class="btn btn-primary btn-lg btn-modal" data-toggle="modal" data-target="#{{ block_id_modal }}">
          {{ content.field_modal_button_text }}
      </button>
</div>

{# Modal markup with modal title, and loops for modal body and modal footer. #}
<div class="modal fade" id="{{ block_id_modal }}" tabindex="-1" role="dialog" aria-labelledby="{{ block_id_modal }}-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if content.field_modal_title|render %}
          <div class="modal-title" id="{{ block_id_modal }}-label">
            {{ content.field_modal_title }}
          </div>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% if content.field_modal_body|render %}
          <div class="modal-body">
              {% for key, item in content.field_modal_body if key|first != '#' %}
                  {{ item }}
              {% endfor %}
          </div>
        {% endif %}
        {% if content.field_modal_footer|render %}
          <div class="modal-footer">
              {% for key, item in content.field_modal_footer if key|first != '#' %}
                  {{ item }}
              {% endfor %}
          </div>
        {% endif %}
    </div>
  </div>
</div>
