{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

{% set width_edge2edge = false %}
{% set has_vlb_background_color = false %}
{% set has_vlb_background_media = false %}

{% set section_attributes = create_attribute() %}
{% set section_attributes = section_attributes.addClass('vlb-section') %}

{% set container_attributes = create_attribute() %}
{% set container_attributes = container_attributes.addClass('container-fluid') %}

{% set outer_row_attributes = create_attribute() %}
{% set outer_row_attributes = outer_row_attributes.addClass('vlb-outer-row') %}
{% set outer_row_attributes = outer_row_attributes.addClass('row') %}

{% set inner_row_attributes = create_attribute() %}
{% set inner_row_attributes = inner_row_attributes.addClass('vlb-inner-row') %}
{% set inner_row_attributes = inner_row_attributes.addClass('row') %}

{# When the Width is Edge to Edge. #}
{% if settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width == 'edge2edge' %}
  {% set width_edge2edge = true %}
  {% set section_attributes = section_attributes.addClass('bg-edge2edge') %}
  {% set container_attributes = container_attributes.addClass('container-fluid') %}
{% endif %}

{# When the Gutter option is With Gutter. #}
{% if not (settings.vlb_section_config.vlb_gutter and settings.vlb_section_config.vlb_gutter == 1) %}
  {% set outer_row_attributes = outer_row_attributes.addClass('no-gutters') %}
  {% set inner_row_attributes = inner_row_attributes.addClass('no-gutters') %}
{% else %}
  {% set container_attributes = container_attributes.addClass('px-4') %}
{% endif %}


{# Background media #}
{% if settings.vlb_section_config.vlb_background_media_html %}
  {% set has_vlb_background_media = true %}
  {{ attach_library('varbase_layout_builder/background-media') }}

  {% if settings.vlb_section_config.vlb_background_edge2edge and settings.vlb_section_config.vlb_background_edge2edge == 1 %}
    {% set width_edge2edge = true %}
    {% set section_attributes = section_attributes.addClass('bg-edge2edge') %}
    {% set section_attributes = section_attributes.addClass(settings.vlb_section_config.vlb_background_color) %}

    {% set container_attributes = container_attributes.removeClass('container-fluid').addClass('container') %}

    {% if settings.vlb_section_config.vlb_gutter and settings.vlb_section_config.vlb_gutter == 1 and settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width != 'edge2edge' %}
      {% set outer_row_attributes = outer_row_attributes.addClass('no-gutters') %}
    {% endif %}

  {% else %}

    {% if not (settings.vlb_section_config.vlb_gutter and settings.vlb_section_config.vlb_gutter == 1) %}
      {% if settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width == 'edge2edge' %}
        {% set container_attributes = container_attributes.removeClass('container-fluid').addClass('container') %}
      {% else %}
        {% set container_attributes = container_attributes.removeClass('container-fluid').removeClass('container') %}
      {% endif %}
    {% else %}
      {% set container_attributes = container_attributes.removeClass('container-fluid').addClass('container') %}
      {% set container_attributes = container_attributes.removeClass('px-4') %}
      {% if settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width == 'edge2edge' %}
       {% set outer_row_attributes = outer_row_attributes.addClass('no-gutters') %}
      {% endif %}
    {% endif %}


  {% endif %}
{% endif %}


{# Background color #}
{% if settings.vlb_section_config.vlb_background_color is not null and settings.vlb_section_config.vlb_background_color != '_none' %}
  {% set has_vlb_background_color = true %}
  {{ attach_library('varbase_layout_builder/vlb-colors') }}

  {# When we do have Background color we add edge to edge exepte if do not want to have a an edge to edge background #}
  {% if settings.vlb_section_config.vlb_background_edge2edge and settings.vlb_section_config.vlb_background_edge2edge == 1 %}
    {% set width_edge2edge = true %}
    {% set section_attributes = section_attributes.addClass('bg-edge2edge') %}
    {% set section_attributes = section_attributes.addClass(settings.vlb_section_config.vlb_background_color) %}

    {% set container_attributes = container_attributes.removeClass('container-fluid').addClass('container') %}

    {% if settings.vlb_section_config.vlb_gutter and settings.vlb_section_config.vlb_gutter == 1 and settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width != 'edge2edge' %}
      {% set outer_row_attributes = outer_row_attributes.addClass('no-gutters') %}
    {% endif %}

  {% else %}

    {% if not (settings.vlb_section_config.vlb_gutter and settings.vlb_section_config.vlb_gutter == 1) %}
      {% if settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width == 'edge2edge' %}
        {% set container_attributes = container_attributes.removeClass('container-fluid').addClass('container') %}
      {% else %}
        {% set container_attributes = container_attributes.removeClass('container-fluid').removeClass('container') %}
      {% endif %}
    {% else %}
      {% set container_attributes = container_attributes.removeClass('container-fluid').addClass('container') %}
      {% set container_attributes = container_attributes.removeClass('px-4') %}
      {% if settings.vlb_section_config.vlb_width and settings.vlb_section_config.vlb_width == 'edge2edge' %}
       {% set outer_row_attributes = outer_row_attributes.addClass('no-gutters') %}
      {% endif %}
    {% endif %}

    {# When we have a Background media and Background Color. #}
    {% if has_vlb_background_media %}
      {# Add the Background color class to the section attributes. #}
      {% set section_attributes = section_attributes.addClass(settings.vlb_section_config.vlb_background_color) %}
    {% else %}
      {# Add the Background color class to the outer row attributes. #}
      {% set outer_row_attributes = outer_row_attributes.addClass(settings.vlb_section_config.vlb_background_color) %}
    {% endif %}

  {% endif %}
{% endif %}

{# When we do have width classes and not using the advacned mode #}
{% if settings.vlb_section_config.vlb_width_classes and settings.vlb_section_config.vlb_use_advanced != 1 %}
  {% set attributes = attributes.addClass(settings.vlb_section_config.vlb_width_classes) %}
{% endif %}

{# Varbase Layout Builder Section #}
<div{{ section_attributes }}>

  {% if has_vlb_background_media %}
    <div class="background-media-wrapper">
      {{ settings.vlb_section_config.vlb_background_media_html }}
  {% endif %}

      <div{{ container_attributes }}>
        <div{{ outer_row_attributes }}>
          <{{ wrapper }}{{ attributes }}>
            <div{{ inner_row_attributes }}>

              {{ title_suffix.contextual_links }}
              <{{ main.wrapper }}{{ main.attributes }}>
                {{ main.content }}
              </{{ main.wrapper }}>

            </div>{# /inner_row_attributes #}
          </{{ wrapper }}>
        </div>{# /outer_row_attributes #}
      </div>{# /container_attributes #}

  {% if has_vlb_background_media %}
    </div>{# /.background-media-wrapper #}
  {% endif %}

</div>{# /section_attributes #}