{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <css-placeholder token="{{ placeholder_token }}">
    <script src="{{ base_path }}{{ varbase_layout_builder_path }}/js/oembed-frame.vlb-background-media.{{ provider }}.js"></script>
  </head>
  <body style="margin: 0">
    {{ media|raw }}
  </body>
</html>
