{#
/**
 * @file
 * Default theme implementation for a bootstrap columns layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}

  {% set classes = [
    'layout',
    'row',
    content['#settings']['remove_gutters'] == 1 and content['#settings']['gutters_between'] == 1 ? 'gx-0' : '',
    content['#settings']['remove_gutters'] == 1 and content['#settings']['gutters_between'] == 0 ? 'no-gutters' : '',
    content['#settings']['container_width_classes'] ? content['#settings']['container_width_classes'] : '',
    'layout-builder__layout'
  ] %}

  {% if content['section_header']|render|striptags %}
  <div class="vlb-section-header row">
    <div {{ region_attributes['section_header'] }}>
      {{ content['section_header'] }}
    </div>
  </div>
  {% endif %}
  <div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% for i in 1..12 %}
      {% set region = "blb_region_col_" ~ i %}
      {% if content[region] %}
        <div {{ region_attributes[region] }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
    {{ title_suffix }}
  </div>

{% endif %}
