{#
/**
 * @file
 * Default theme implementation for a bootstrap columns layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - section_title_attributes: HTML attributes for the section title <h2>. 
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'layout',
  'row',
  content['#settings']['remove_gutters'] == 1 and content['#settings']['gutters_between'] == 1 ? 'gx-0' : '',
  content['#settings']['remove_gutters'] == 1 and content['#settings']['gutters_between'] == 0 ? 'no-gutters' : '',
  'layout-builder__layout'
] %}

{% if content %}

  {% if content['#settings']['section_title'] %}
    <h2{{ content['#settings']['section_title_attributes'] }}>{{ content['#settings']['section_title'] }}</h2>
  {% endif %}

  <div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% for i in 1..12 %}
      {% set region = "blb_region_col_" ~ i %}
      {% if content[region] %}
        <div {{ region_attributes[region] }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
    {{ title_suffix }}
  </div>

{% endif %}
