{#
/**
 * @file
 * Default theme implementation for a bootstrap columns layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}

  {% set classes = [
    'layout',
    'row',
    content['#settings']['remove_gutters'] == 1 and content['#settings']['gutters_between'] == 1 ? 'gx-0' : '',
    content['#settings']['remove_gutters'] == 1 and content['#settings']['gutters_between'] == 0 ? 'no-gutters' : '',
    'layout-builder__layout'
  ] %}

  {% if content['section_header']|render|striptags %}
  <div class="vlb-section-header row">
    <div {{ region_attributes['section_header'] }}>
      {{ content['section_header'] }}
    </div>
  </div>
  {% endif %}
  <div {{ attributes.addClass(classes) }}>

    {% if content['#settings']['container_width_classes'] %}

      {% set container_width_attributes = create_attribute() %}
      {% set container_width_attributes = container_width_attributes.addClass(content['#settings']['container_width_classes']) %}

      {% set container_width_container_attributes = create_attribute() %}
      {% set container_width_container_attributes = container_width_container_attributes.addClass('container-fluid') %}

      {% set container_width_row_attributes = create_attribute() %}
      {% set container_width_row_attributes = container_width_row_attributes.addClass('row') %}
      {% set container_width_row_attributes = container_width_row_attributes.addClass(content['#settings']['horizontal_alignment']['class']) %}
      {% set container_width_row_attributes = container_width_row_attributes.addClass(content['#settings']['vertical_alignment']['class']) %}

      <div {{ container_width_attributes }}>
        <div {{ container_width_container_attributes }}>
          <div {{ container_width_row_attributes }}>
    {% endif %}

    {{ title_prefix }}
    {% for i in 1..12 %}
      {% set region = "blb_region_col_" ~ i %}
      {% if content[region] %}
        <div {{ region_attributes[region] }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
    {{ title_suffix }}

    {% if content['#settings']['container_width_classes'] %}
          </div>
        </div>
      </div>
    {% endif %}

  </div>

{% endif %}
