{#
/**
 * @file
 * Default theme implementation for a bootstrap columns layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'layout',
  'row',
  content['#settings']['remove_gutters'] is same as('1') ? 'gx-0' : '',
  'layout-builder__layout'
] %}

{% set region_classes = [
    (content['#settings']['gutters_between'] is same as('1')) and (content['#settings']['remove_gutters'] is same as('1')) ? 'gx-3' : '',
] %}

{% if content %}

  {% if content['#settings']['section_title'] %}

    {% set section_title_attributes = create_attribute() %}
    {% set section_title_attributes = section_title_attributes.addClass('section-title') %}

    <h2{{ section_title_attributes }}>{{ content['#settings']['section_title'] }}</h2>
  {% endif %}

  <div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% for i in 1..12 %}
      {% set region = "blb_region_col_" ~ i %}
      {% if content[region] %}
        <div {{ region_attributes[region].addClass(region_classes) }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
    {{ title_suffix }}
  </div>

{% endif %}
